:root{
    --clr-grey-50:#656266;
    --clr-grey-100:#616161;
    --clr-grey-200:#322f33;
    --clr-grey-300:#1c181d;


    --grey-100: #e3e3e3;
    --grey-200:#616161;
    --grey-300:#475467;

    --blue:#005bd3;
    --green: #36FBA1;
   --white:#ffffff;
   --black:#00000066;
   --grey:#f1f1f1;


    --fw-regular: 400;
    --fw-semi-bold:500;
    --fw--bold:600;

    --fs-200:0.7500em;
    --fs-300:0.8125em;
    --fs-400:0.875em;


    --fs-body: var(--fs-300);
    --fs-nav:var(--fs-200);
    --fs-button:var(--fs-200);

    --ff-body:'Inter', sans-seriff;


}



/*  -------------------- Utility Classes ------------------- */ 
.fw-bold{
    font-weight: var(--fw--bold);
}

.fw-semi-bold{
    font-weight: var(--fw-semi-bold);
}

.fw-regular{
    font-weight: var(--fw-regular);
}


.fs-200{
    font-size: var(--fs-200);
}
.fs-300{
    font-size: var(--fs-300);
}
.fs-400{
    font-size: var(--fs-400);
}






/*  ----General ----- */



*{
  margin: 0;
  padding: 0;
}

body{
 font-family:var(--ff-body) ;
 background-color:var(--grey);
 
}



a{
    text-decoration: none;
}

button{
    background: none;
    border: none;
    outline: none;
}

.flexed{
    display: flex;
    align-items: center;
    
}

.visible{
    display: block;
}

@media (min-width: 768px) {
    .flexed{
    gap: .5em;
    
}
}



.container{
  width: 95%;
  margin: auto;
 
}

.setup-btn{
    background-color: #404040;
    padding:6px 12px;
    cursor: pointer;
    color: #F6F3F6;
    border-radius: 6px;
    font-size: var(--fs-200);
    outline:red;


    
}

/* -------------- Header ------------ */

.primary-header{

  background-color:var(--clr-grey-300);
   padding: 0.753em .5em;
   display: flex;
   align-items: center;
   justify-content: space-between;
}


/* ------------ Input field ----------------- */

input{
    width:210px;
    background: none;
    border: none;
    outline: none;
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-300);
    color: var(--white);
    padding:0 4px ;
}


.search-container{
    background-color: var(--clr-grey-200);
    padding: 8px;
    border: 1px solid var(--clr-grey-50);
    border-radius: 8px;
    display: flex;
}

.user-profile{
    background-color:var(--clr-grey-200);
    color: var;
    font-size: var(--fs-200);
    padding: 8px;
    gap:1em;
    display: flex;
    align-items: center;
    border-radius: 8px;

}

.user-profile .name{
    color: var(--white);
}


.user-profile .user-id{
    background-color: var(--green);
    padding: 8px;
    border-radius: 8px;
}
@media (min-width: 768px) {
    input{
        width: 420px;
        
        
    }

    .notification-icon{
        background-color:var(--clr-grey-200);
        padding: 8px;
        border-radius: 8px;
    }
}

@media (max-width:768px){
    .user-profile{
        background:none;
    }

    .name{
        display: none;
           
}
}


/* --------------NOTIFICATION ALERT ------------------ */
.notification{
    width: 383px;
    
    background-color: var(--white);
    padding: 16px;
    border-radius: 14px;
    position: absolute;
    top: 85px;
    right: 16px;
    z-index: 10000000000000000;
    border: 1px solid var(--grey);
    display: none;
}

.notification-header{
    display: flex;
    justify-content: space-between;
    
}



.notification-text{
    text-align: center;
    background-color: var(--grey);
    padding: 16px;
    line-height: 18.2px;
    letter-spacing: .6px;

}


/* --------------- PLAN NOTIFICATION ---------------- */
.plan-notification{
    position: relative;
    background-color: var(--clr-grey-300);
    margin-top: 2em;
    color: var(--white);
    font-size: var(--fs-300);
    padding: 20px
}

.select-plan-link{
    /* width: 20%; */
    color: var(--clr-grey-300);
    background-color: var(--white);
    padding: 6px 12px ;
    border-radius: 6px;
    cursor: pointer;

}

.flex p{
    line-height: 1.5em;
    margin-bottom:1em;
}
.absolute-btn{
  position: absolute;
  top:10px ;
  right: 10px;
  cursor: pointer;
}


@media (min-width: 768px) {
    
    .plan-notification{
        width: 800px;
        margin: auto;
        margin-top: 2em;
        border-radius: 8px;
    }

    .flex{
        display: flex;
        justify-content: space-between;
    }

    .select-plan-link{
        margin-right: 2em;
    }

    .cancel-btn{
        top:30%;
}

}



/* --------------- SETUP GUIDE -------------------- */
.setup-guide{
    position: relative;
    background-color: var(--white);
    padding:20px;
    margin-top: 1em;
}

.instruction{
    background-color: var(--grey);
    padding: 8px 8px 12px  8px;
    border-radius: 10px;
}



@media (min-width: 768px){
    .setup-guide{
        width: 800px;
        margin: auto;
        margin-top: 1em;

    }

    
    .instruction-info{
        width: 100%;
        
        gap: 3em;
        display: flex;
        justify-content: space-between;
        
        
    }
}

.setup-guide p{
    margin-top: .5em;
    line-height: 18px;
}


/* -------------- PROGRESS BAR ----------------------- */
.progress-bar-counter{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

#progress-container {
    width: 72px;
    height: 4px;
    border-radius:28px;
    overflow: hidden;
 background-color:var(--grey-100);
  }

  #progress-bar {
    width:0;
    height:4px;
    background-color:#1A1A1A;
    transition: width 0.6s ease-in-out;
  }

  #counter {
    
  }



/* -------------- SETUP INSTRUCTIONS -----------------*/

.setup-instructions {
    
    margin-top: 2em;
    
}


.instruction{
    display: flex;
    justify-content: space-between;
    gap: .5em;
    margin-bottom: 2em;
    line-height:2.5em ;


    

}

.instruction-info p{
    margin-bottom: 1em;
    color: var(--clr-grey-100);
    font-weight: 500;
}

.instruction-info p a {
    color: #005BD3;
    font-size: 14px;
    font-weight: 500
}


.setup-links{
    width: ;
    ;
}

.setup-links .colored{
    color: black;
    padding: 6px 12px;
    margin-left:8px;

}



/* --------------  CHECKBOX --------------------- */

  

.shopping-item-checkbox{
    background:transparent;
    border:none;
    cursor:pointer;
    width: 100%;
    margin-top: 10px;
    transition:all 100ms ease-in
  }
  
  .shopping-item-checkbox:focus{
    
    
  }
  
  .hidden{
    display:none
  }
  
  .shopping-item-checkbox:focus .not-completed-icon circle {
    fill:#d9d9d9;
    stroke-dasharray :0 0;
  }
  
  .shopping-item-checkbox:hover .not-completed-icon circle {
    stroke-dasharray : 0 0 ;
  }


.spinner-icon{
  
  animation-duration:1000ms;
  animation-name:spin;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  
}

.completed-icon{
  animation-name:zoom-in-spin;
  animation-duration:300ms;
  animation-timing-function:linear;
}


/* -------------  ZOOM-IN-OUT ANIMATION ------------------- */

@keyframes zoom-in-spin{
  from{
    transform :scale(0) rotate(270deg);
    opacity:0;
  }
  
  to{
    transform: scale(1) rotate(360deg);
    opacity:1;
  }
}



/* ------------   SPINNING ANIMATION ------------- */

@keyframes spin{
  from{
    transfrom:rotate(0deg);
  }
  
  to{
    transform:rotate(360deg);
  }
  
  
}






@media (max-width: 768px) {
    .info-image{
        display: none;
        font-weight: 600;
    }
}




.status-bar {
    display: flex;
  }

  .status-item {
    flex: 1;
    height: 20px;
    border: 1px solid #ccc;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checked {
    background-color: black;
    color: white;
  }



  
  














  /* -------------- STATUS BAR ---------- */

  .status-bar{
    width:50%;

  }

  .status-bar span{
    width: 4em;
    height: 2em;
    border:1px solid black;
  }